<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des utilisateurs</title>
</head>
<body>
<h1>Liste des utilisateurs</h1>
<table>
    <thead>
        <tr>
            <th>PersonID</th>
            <th>LastName</th>
            <th>FirstName</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${usernames}">
            <td th:text="${user.personID}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.firstName}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
